<mat-card class="form-card">
    <h2>Cadastro de Pessoa</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome">
            <mat-error *ngIf="form.get('nome')?.hasError('required')">Nome é obrigatório</mat-error>
            <mat-error *ngIf="form.get('nome')?.hasError('minlength')">Nome muito curto</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpf">
            <mat-error *ngIf="form.get('cpf')?.hasError('required')">CPF é obrigatório</mat-error>
            <mat-error *ngIf="form.get('cpf')?.hasError('pattern')">CPF inválido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput type="date" formControlName="dataNascimento">
            <mat-error *ngIf="form.get('dataNascimento')?.hasError('required')">Data de Nascimento é
                obrigatória</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="sexo">
                <mat-option *ngFor="let s of sexoOptions" [value]="s.value">{{ s.label }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('sexo')?.hasError('required')">Sexo é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Altura (m)</mat-label>
            <input matInput type="number" formControlName="altura" step="0.01">
            <mat-error *ngIf="form.get('altura')?.hasError('required')">Altura é obrigatória</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Peso (kg)</mat-label>
            <input matInput type="number" formControlName="peso" step="0.1">
            <mat-error *ngIf="form.get('peso')?.hasError('required')">Peso é obrigatório</mat-error>
        </mat-form-field>

        <div class="actions">
            <button mat-flat-button color="primary" type="submit">
                <mat-icon>save</mat-icon>
                Salvar
            </button>
            <button mat-flat-button color="warn" routerLink="/pessoas">
                <mat-icon>cancel</mat-icon>
                Cancelar
            </button>
        </div>

    </form>
</mat-card>