.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #3F51B5;
    color: white;
}

.footer span {
    font-size: 1.1rem;
    font-weight: 300;
}